<!-- 这是我们自定义的错误信息提示页面 -->
<!-- code错误编码 -->
<!-- msg错误信息 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/zerror.css">
</head>

<body>
    <div class="bg">
        <div class="container c_sty col-md-4 col-md-offset-4">
            <p>错误编码：
                <%= code %>
            </p>
            <p>错误信息：
                <%= msg %>
            </p>
        </div>
    </div>
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>


<!-- <h1><%= code %></h1>
<h1><%= msg %></h1> -->
