<div class="header">
    <div class="header_left">
        <div class="logo">
            <img src="/images/logo.png" alt="logo">
        </div>
        <h2>xx-后台管理系统</h2>
    </div>
    <div class="header_right">
        <i></i>
        <p>欢迎您  -  <%= nickname %>  -  <%= isAdmin %></p>
        <a href="/users/logout">退出</a>
    </div>
</div>