<div class="main_left">
    <ul>
        <% if(isAdmin == '(管理员)'){ %>
            <li class="menu_item">
                <a href="/user_manage.html" class="active">用户管理</a>
            </li>
        <% } %>
        <li class="menu_item">
            <a href="/mobile_manage.html" class="user">手机管理</a>
        </li>
        <li class="menu_item">
            <a href="/brand_manage.html" class="phone_da">品牌管理</a>
        </li>
    </ul>
</div>